name: JSON Number

on:
  workflow_dispatch: 

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller

    - name: Build EXE with PyInstaller
      run: |
        # --onefile: 单文件模式
        # --console: 保留控制台显示进度
        # --noconfirm: 覆盖现有build目录
        pyinstaller --onefile --console --name "照片抽取与标签统计" json_number.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: LabelmeChecker-EXE
        path: dist/照片抽取与标签统计.exe
        if-no-files-found: error
        retention-days: 90
